---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProblemSolution from '../components/ProblemSolution.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Testimonials from '../components/Testimonials.astro';
import Location from '../components/Location.astro';
---

<Layout>
	<main>
		<Hero />
		<ProblemSolution />
		<BentoGrid />
		<Testimonials />
		<Location />
	</main>
</Layout>

