---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Brands from '../components/Brands.astro';
import VideoReel from '../components/VideoReel.astro';
import ProblemSolution from '../components/ProblemSolution.astro';
import BentoGrid from '../components/BentoGrid.astro';
import WorkGallery from '../components/WorkGallery.astro';
import Testimonials from '../components/Testimonials.astro';
import Location from '../components/Location.astro';
---

<Layout>
	<main>
		<Hero />
		<Brands />
		<VideoReel />
		<ProblemSolution />
		<BentoGrid />
		
		
		<WorkGallery />
		<Testimonials />
		<Location />
		<div class="client-hidden-content">
		</div>
	</main>
</Layout>
